<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244410525829-io9spqt8i8r9j7gq1di3se86c0n7i00f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244410525829-io9spqt8i8r9j7gq1di3se86c0n7i00f</string>
	<key>API_KEY</key>
	<string>AIzaSyAem74hAT1pGOnvJwzLiX1k4dqaVqEj0m4</string>
	<key>GCM_SENDER_ID</key>
	<string>244410525829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messioApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-d1425</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-d1425.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244410525829:ios:beab554df3e4a4ed6fe1ec</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-d1425.firebaseio.com</string>
</dict>
</plist>